body {
    background-color: black;
}

header {
    background-color: white;
    text-align: right;
}

#logo {
    text-align: left;
    padding-top: 5px;
    padding-right: 1200px;
    margin-bottom: -25px;
    display: inline-block;
}

#bar {
    text-align: center;
    padding-bottom: 30px;
    display: inline-block;
}

span {
    margin: 5px;
}

#i1 {
    opacity: 50%;
    text-align: center;
    margin-bottom: -5px;
}

#s1 {
    display: inline-block;
    position: absolute;
    width: 50%;
}

#s2 {
    display: inline-block;
    position: absolute;
    width: 150%;
}

#i2 {
    text-align: center;
    margin-bottom: -6px;
    position: relative;
}

footer {
    background-color: white;
    text-align: center;
    padding: 10px;
}